@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-j7hq7v");
  src: url("../fonts/icomoon.eot?#iefix-j7hq7v") format("embedded-opentype"), url("../fonts/icomoon.woff?-j7hq7v") format("woff"), url("../fonts/icomoon.ttf?-j7hq7v") format("truetype"), url("../fonts/icomoon.svg?-j7hq7v#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../sass/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: white;
  font-size: 2em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 31, ../sass/_fonts.scss */
.icon-pencil:before {
  content: "\e600";
}

/* line 35, ../sass/_fonts.scss */
.icon-pen:before {
  content: "\e601";
}

/* line 39, ../sass/_fonts.scss */
.icon-disk:before {
  content: "\e602";
}

/* line 43, ../sass/_fonts.scss */
.icon-remove:before {
  content: "\e603";
}

/* line 47, ../sass/_fonts.scss */
.icon-checkmark {
  position: relative;
  font-size: 1em;
}
/* line 51, ../sass/_fonts.scss */
.icon-checkmark:before {
  content: "\e604";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #333333;
}

/* line 1, ../sass/_framework.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/_framework.scss */
body {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  margin: 0;
  background: url("../img/handmadepaper.min.png");
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 5, ../sass/_framework.scss */
  body {
    background: url("../img/handmadepaper@2x.min.png");
    background-size: 50%;
  }
}

/* line 19, ../sass/_framework.scss */
canvas {
  display: block;
}

/* line 1, ../sass/_menu.scss */
.menu {
  position: fixed;
  width: 100%;
  height: 48px;
  background-color: #333333;
}
/* line 7, ../sass/_menu.scss */
.menu:before {
  content: "";
  position: absolute;
  width: 90px;
  height: 90px;
  left: 50%;
  margin: -45px;
  top: 16px;
  border-radius: 50%;
  background: url("../img/handmadepaper.min.png");
  -webkit-transition: border-radius 550ms;
          transition: border-radius 550ms;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 7, ../sass/_menu.scss */
  .menu:before {
    background: url("../img/handmadepaper@2x.min.png");
    background-size: 50%;
  }
}
/* line 21, ../sass/_menu.scss */
.menu.open-whole:before {
  border-radius: 0;
}

/* line 26, ../sass/_menu.scss */
[id="clear"].button {
  top: 8px;
  left: 5px;
}

/* line 31, ../sass/_menu.scss */
[id="save"].button {
  top: 8px;
  left: 58px;
}

/* line 36, ../sass/_menu.scss */
[id="brush-type"].button {
  top: 8px;
  right: 64px;
}

/* line 41, ../sass/_menu.scss */
.button {
  position: absolute;
  display: block;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #ecf0f1;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}
/* line 50, ../sass/_menu.scss */
.button.highlight {
  color: #666;
}

/* line 3, ../sass/_swatch-menu.scss */
[id="color-menu-button"] {
  z-index: 5;
  font-family: sans-serif;
  position: absolute;
  width: 71px;
  height: 71px;
  left: 50%;
  margin: -35.5px;
  top: 16px;
  line-height: 71px;
  background: -webkit-linear-gradient(315deg, #708090, #343434);
  background: linear-gradient(135deg, #708090, #343434);
  border-radius: 50%;
  color: #ecf0f1;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
  text-align: center;
  cursor: pointer;
}
/* line 16, ../sass/_swatch-menu.scss */
[id="color-menu-button"]:before {
  content: "\2630";
  font-size: 30px;
}

/* line 22, ../sass/_swatch-menu.scss */
.drop-down,
.drop-down + ul {
  -webkit-animation: drop 100ms forwards cubic-bezier(1, 0, 0.755, 1.47);
          animation: drop 100ms forwards cubic-bezier(1, 0, 0.755, 1.47);
}

/* line 27, ../sass/_swatch-menu.scss */
.rise-up,
.rise-up + ul {
  -webkit-animation: rise 300ms forwards cubic-bezier(1, 0, 0.755, 1.47);
          animation: rise 300ms forwards cubic-bezier(1, 0, 0.755, 1.47);
}

/* line 32, ../sass/_swatch-menu.scss */
.rise-up + ul li {
  pointer-events: none;
}

/* line 36, ../sass/_swatch-menu.scss */
[id="swatches"] li {
  position: absolute;
  width: 75px;
  height: 75px;
  left: 50%;
  margin: -37.5px;
  list-style: none;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(1, 0, 0.755, 1.47);
          transition: transform 300ms cubic-bezier(1, 0, 0.755, 1.47);
}
/* line 47, ../sass/_swatch-menu.scss */
.drop-down + [id="swatches"] li:nth-child(1) {
  -webkit-transform: translateX(0px) translateY(-100px);
          transform: translateX(0px) translateY(-100px);
}
/* line 47, ../sass/_swatch-menu.scss */
.drop-down + [id="swatches"] li:nth-child(2) {
  -webkit-transform: translateX(70.71068px) translateY(-70.71068px);
          transform: translateX(70.71068px) translateY(-70.71068px);
}
/* line 47, ../sass/_swatch-menu.scss */
.drop-down + [id="swatches"] li:nth-child(3) {
  -webkit-transform: translateX(100px) translateY(0.0px);
          transform: translateX(100px) translateY(0.0px);
}
/* line 47, ../sass/_swatch-menu.scss */
.drop-down + [id="swatches"] li:nth-child(4) {
  -webkit-transform: translateX(70.71068px) translateY(70.71068px);
          transform: translateX(70.71068px) translateY(70.71068px);
}
/* line 47, ../sass/_swatch-menu.scss */
.drop-down + [id="swatches"] li:nth-child(5) {
  -webkit-transform: translateX(0.0px) translateY(100px);
          transform: translateX(0.0px) translateY(100px);
}
/* line 47, ../sass/_swatch-menu.scss */
.drop-down + [id="swatches"] li:nth-child(6) {
  -webkit-transform: translateX(-70.71068px) translateY(70.71068px);
          transform: translateX(-70.71068px) translateY(70.71068px);
}
/* line 47, ../sass/_swatch-menu.scss */
.drop-down + [id="swatches"] li:nth-child(7) {
  -webkit-transform: translateX(-100px) translateY(0.0px);
          transform: translateX(-100px) translateY(0.0px);
}
/* line 47, ../sass/_swatch-menu.scss */
.drop-down + [id="swatches"] li:nth-child(8) {
  -webkit-transform: translateX(-70.71068px) translateY(-70.71068px);
          transform: translateX(-70.71068px) translateY(-70.71068px);
}

/* line 54, ../sass/_swatch-menu.scss */
.selected {
  z-index: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@-webkit-keyframes rise {
  /* line 60, ../sass/_swatch-menu.scss */
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }

  /* line 61, ../sass/_swatch-menu.scss */
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes rise {
  /* line 60, ../sass/_swatch-menu.scss */
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }

  /* line 61, ../sass/_swatch-menu.scss */
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes drop {
  /* line 65, ../sass/_swatch-menu.scss */
  to {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}
@keyframes drop {
  /* line 65, ../sass/_swatch-menu.scss */
  to {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}
/* line 1, ../sass/_brush-slider.scss */
.brush-size {
  top: 4px;
  right: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #ecf0f1;
  font-weight: bold;
  color: #333;
  text-shadow: none;
}

/* line 14, ../sass/_brush-slider.scss */
input[type="range"] {
  position: absolute;
  -webkit-appearance: none;
  z-index: -1;
  margin: 0;
  top: 98px;
  right: -50px;
  outline: none;
  background-color: #ccc;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  -webkit-transform: rotate(-90deg) translateY(50px);
          transform: rotate(-90deg) translateY(50px);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(1, 0, 0.755, 1.47);
          transition: transform 300ms cubic-bezier(1, 0, 0.755, 1.47);
}
/* line 29, ../sass/_brush-slider.scss */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #666;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* line 37, ../sass/_brush-slider.scss */
input[type="range"].show-slider {
  -webkit-transform: rotate(-90deg) translateY(0);
          transform: rotate(-90deg) translateY(0);
}

/* line 1, ../sass/_chat.scss */
form {
  position: fixed;
  bottom: 0;
  padding: 5px;
  width: 100%;
  background-color: #333333;
}
/* line 8, ../sass/_chat.scss */
form input {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  padding: 0 10px;
  width: 88%;
  min-height: 32px;
  min-height: 2rem;
  background-color: #4d4d4d;
  border-radius: 4px;
  font-size: 1em;
  color: #ecf0f1;
}
/* line 22, ../sass/_chat.scss */
form button {
  display: inline-block;
  vertical-align: middle;
  width: 9%;
  min-height: 32px;
  min-height: 2rem;
  background: #ecf0f1;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  float: right;
  cursor: pointer;
}

/* line 37, ../sass/_chat.scss */
[id="message-content"] {
  overflow-y: hidden;
  width: 100%;
  list-style-type: none;
  padding-left: 5px;
  position: absolute;
  bottom: 2.1875em;
}
/* line 45, ../sass/_chat.scss */
[id="message-content"] li {
  display: inline-block;
  float: left;
  clear: left;
  margin: 2px 0;
  padding: 3px 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
/* line 58, ../sass/_chat.scss */
[id="message-content"] li:last-child {
  -webkit-animation: fade-in-left 500ms ease-out;
          animation: fade-in-left 500ms ease-out;
}

@-webkit-keyframes fade-in-left {
  /* line 65, ../sass/_chat.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }

  /* line 70, ../sass/_chat.scss */
  50% {
    background: rgba(231, 76, 60, 0.5);
  }

  /* line 74, ../sass/_chat.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fade-in-left {
  /* line 65, ../sass/_chat.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }

  /* line 70, ../sass/_chat.scss */
  50% {
    background: rgba(231, 76, 60, 0.5);
  }

  /* line 74, ../sass/_chat.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
