@mixin center($widthHeight) {
	position: absolute;
	width: $widthHeight; height: $widthHeight;
	left: 50%;
	margin: -$widthHeight / 2,
}

// px to em
@function em($px, $base-font-size: 16px) {
	@return ($px / $base-font-size) * 1em;
}
