<% include header.html %>

    <nav class="menu">
    	<div id="clear" class="button icon-remove"></div>
    	<div id="save" class="button icon-disk"></div>
    	<div id="color-menu-button"></div>
    	<ul id="swatches"></ul>
    	<div id="brush-type" class="button icon-pen"></div>
    	<label for="rangeSlider" class="button brush-size" id="line-width"></label>
    	<input type="range" min="1" max="20" value="2" step="1" onchange="updateLineWidth(value)" class="vertical" orient="vertical" id="rangeSlider">
    </nav>
    <div id="canvas-support"></div>
    <ul id="message-content"></ul>
    <form action="" id="form">
      <input id="message" autocomplete="off" placeholder="Something to say?"><button id="send" class="icon-checkmark"></button>
    </form>
    
    <% include scripts.html %>
    
<% include footer.html %>    
